
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

header{
    /*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
    background-color: #D1E8DB;
    width: 100%;
    text-align: center;
}
h1{
    display:inline-block;
    
}
.cajadetitulo{
    display: inline-block;
}
nav{
    display: inline-block;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: solid black 2px;
    border-radius: 5px;
    margin-right: 20px;
    background-color:#B0B0AC;
    transition: all 1s;
}
a:hover{
    background-color: rgb(255, 255, 255);
    color: #B0B0AC;
}
.logo2{
float: right;
}
.logo1{
    float: left;
}

.contenedor-principal{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.Encabezado {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.central img {
    width: 95%;
    height: 95%;
    margin: 13px;
    border-radius: 15px;
}

.central{
    margin: 20px;
    border-radius: 5px;
}
.maingaleria{
    text-align: center;
}
.gridgaleria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gridgaleria img {
        transition: 1s;
        width: 92%;
        margin: 5%;
        border-radius: 14px;
}

.gridgaleria img:hover {
    box-shadow: 5px 5px 5px  #1ac059;
}
.grid1{
    display: grid;
    grid-template-columns: auto auto;
}
.gridreco{
    display:grid;
    grid-template-columns: auto;
}
.gridreco img{
    width: 100%;
}

.gridnosotros {
    display:grid;
    grid-template-columns: auto;
}
.enlace {
    max-width: 60%;
    background-color: rgb(100, 237, 247); 
}

.central p{
    margin: 15px;
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    /*background-image: linear-gradient(120deg, #e7dece 0%, #fab114 100%); */
    background-color:#E9F2F6 ; 
    
}

.formulario{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: 90%;
    max-width: 50%;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
    text-align: center;
    margin: 4em auto 4em auto;
    
}
input{
    font-family: inherit;
    display: block;
    margin: auto;
    border-radius: 0.5em;
    height: 3em;
    width: 15em;
    margin-bottom: 1.5em;
}

textarea{
    font-family: inherit;
    border-radius: 0.5em;
    height: 6em;
    width: 15em;
    margin-bottom: 1.5em;
}

footer p{
    margin: 0px;
}
footer{
    /*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
    background-color: #D1E8DB;
    text-align: center;
    padding: 20px;
}
footer p{
    display: inline-block;
}
.menuhamburguesa{
    display: none;
}


/*Aca el metodo para que sea responsive en formato Tablet */

@media (max-width:830px)  {
    header img{
        display: none;
    }
    a{
        margin: 0;
    }
    .titulofooter{
        display: none;
    }
    .gridgaleria{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*Aca el metodo para que sea responsive en formato Mobile */

@media (max-width:380px)  {
    header img{
        display: none;
    }
    .titulofooter{
        display: none;
    }
    .gridgaleria{
        display: grid;
        grid-template-columns: 1fr;
    }
    .formulario {
        max-width: 80%;
    }
    .grid1{
        grid-template-columns: auto;
    }
    .headerEscritorio-Tablet {
        display: none;

    }
    h1{
        display: inline-block;
    }
    .menuhamburguesa{
        display: inline-block;
    }
    
    ul{
        /* display: none; */
        position: relative;
        left: -220px;
    }
    /* con input:checked ~ ul modificamos el estilo de la lista ul cuando el checkbox esté seleccionado (checked), por lo que allí es dónde modificamos el display de la lista, logrando que se visualice cuando el checkbox está marcado */
    input:checked  ~ ul{
        display:block;
        position: relative;
        left: 0px;
        transition: left 1s ease;
    }
    input:not(checked)  ~ ul{
        display:block;
        position: relative;
        left: -250px;
        transition: left 1s ease;
    }
    /* Ocultamos el input.*/ 
    #menu {
        display: none;
    }
    /* Modificamos el label*/
    label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }
    /*Damos estilos a los elementos de la lista*/
    ul{
        margin-top:0;
        padding: 0;
        width: 200px;
    }
    li {
        display: block;
        background: inherit;
        margin: 0;
        padding: 10px;
        list-style: none;
        
    }
    /*Estilo cuando el mouse pasa encima de cada link del menu*/
    li:hover {
        filter: brightness(110%);
    }
    /* Estilo del boton cuando se pasa el mouse por encima*/
    label:hover{
        background:#B0B0AC;
    }
    
    /* Estilo del boton cuando el menú está expandido*/
    input:checked ~ label {
        background: lightgrey; 
    }
    @keyframes ApareceMenu {
        100% {left: 0px;}
    }
    
}

.divJS{
    margin-left: 35px;
}